

body {
	background-color: #12041E;	
	
}
h1
{
font-size: 52px;
text-align:center;

}

h2
{
font-size: 42px;
text-align:center;

}

h3
{
	font-size: 20px;
	color: ghostwhite;
	text-align:center;

}

p {
	padding: 20px;
	font-size: 20px;
	color: ghostwhite;
	text-align:center;
}

header {
	margin: 0 auto; /*horizontal centerin trick in css*/
	padding: 20px 20px  50px 0px;
}

/*Redbox*/



.container {
	padding: 2px;
	background-color: #BA201A;
	height: 100px;
 	background-image: linear-gradient(#BA201A, #873735);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}


.container_buttons{
	padding: 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}




.container_class button {
	border-radius: 4px 4px 4px 4px;
	color: white;
	border: 2px solid #BA201A;
	width: 208px;
	height: 52px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}


#header {
	color: #F0F569;
    padding: 24px 24px 24px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#header2 {
	color: white;
	font-size: 20px;
	padding: 24px 48px 24px 48px;
    background-color: #0A4A7E;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#logosAlign {
	padding: 24px 0px 24px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#title {
    color: #F0F569;
    padding: 128px 24px 24px 24px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

	a.hover{
		color:mediumblue;
	}


button {
	background-color: #0A416E;
}

	button:hover,
	button:active {
		background-color: #BA201A;
		color: ghostwhite;
	}

	/* Image Carousel */
