body {
	background-color: #ff0000;
	display: flex;
	flex-wrap:nowrap;
	align-items: center;
	justify-content: space-between;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.icons {
}
img{
	
	width: 48px;

}