

body {
	background-color: #12041E;	
	display: flex;
	flex-direction: column;
}
h1
{
font-size: 42px;
font-style: oblique;

}

h2
{
font-size: 34px;
font-style: oblique;

}

p {
	padding: 20px;
	font-size: 16px;
	font-style: normal;
	color: ghostwhite;
	text-align:center;

}

header {
	margin: 0 auto; /*horizontal centerin trick in css*/
	padding: 20px 20px  50px 0px;
}

/*Redbox*/




.container {
	padding: 2px;
	background-color: #BA201A;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}


.container_buttons{
	padding: 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}




.container_class button {
	color: white;
	width: 180px;
	height: 48px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 8%;
	bottom: 10%;
	right: 10%;
}

#header {
	color: #F0F569;
	padding: 24px 0px 0px 0px;
	display: flex;
	align-content: stretch;
}

	#header h1, h2 {
		display: block;
	}

	a.hover{
		color:mediumblue;
	}

button {
	background-color: #0A416E;
}

	button:hover,
	button:active {
		background-color: azure;
		color: black;
	}

