

body {
	background-color: #12041E;	
	
}
h1
{
font-size: 52px;
text-align:center;

}

h2
{
font-size: 42px;
text-align:center;

}

h3
{
	font-size: 20px;
	color: ghostwhite;
	text-align:center;

}
h4{

}

p {
	padding: 20px;
	font-size: 20px;
	color: ghostwhite;
	text-align:center;
}

p1 {
	padding: 8px;
	font-size: 20px;
	color: ghostwhite;
	text-align:center;
}

header {
	margin: 0 auto; /*horizontal centerin trick in css*/
	padding: 20px 20px  50px 0px;
}

/*Redbox*/



.container {
	padding: 20px;
	/* background-color: #BA201A; */
	height: 120px;
 	background-image: linear-gradient(#BA201A, #873735);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}


.container_buttons{
	padding: 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

.icons{ 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}




.container_class button {
	border-radius: 4px 4px 4px 4px;
	color: white;
	border: 2px solid #BA201A;
	width: 208px;
	height: 52px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}


#header {
	color: #F0F569;
    padding: 42px 24px 24px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#header2 {
	color: white;
	font-size: 20px;
	padding: 24px 48px 24px 48px;
    background-color: #0A4A7E;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#logosAlign {
	padding: 24px 0px 24px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#title {
    color: #F0F569;
    padding: 128px 24px 24px 24px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

	a.hover{
		color:mediumblue;
	}


button {
	background-color: #0A416E;
}

	button:hover,
	button:active {
		background-color: #BA201A;
		color: ghostwhite;
	}

	/* Image Carousel ---------------------------------------*/

	  /* Style inputs */

	  input[type=text], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	  }
	  
	  input[type=submit] {
		background-color: #04AA6D;
		color: white;
		padding: 12px 20px;
		border: none;
		cursor: pointer;
	  }
	  
	  input[type=submit]:hover {
		background-color: #45a049;
	  }
	  
	  /* Style the container/contact section */
	  .container-box {
		border-radius: 5px;
		background-image: linear-gradient(#0A416E, #00335E);
		padding: 10px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-end;
	  }
	  
	  .row{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
	  }
	  /* Create two columns that float next to eachother */
	  .column {
		float: left;
		width: 50%;
		margin-top: 6px;
		padding: 20px;
	  }
	  
	  /* Clear floats after the columns */
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }
	  
	  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
	  @media screen and (max-width: 600px) {
		.column, input[type=submit] {
		  width: 100%;
		  margin-top: 0;
		}
	  }