

body {
	background-color: #12041E;
	padding-left:40px;
}
h1
{
font-size: 46px;
font-style: oblique;

margin: 15px;
border-top: 1px solid white;
border-bottom: 3px dotted blue;
padding-left: 40px;
width: 1024px;
}

/*h2{
	display: inline;
}
	*/
p {
	font-size: 16px;
	font-style: normal;
	width: 1024px;
	text-align:center;

}

header {
	margin: 0 auto; /*horizontal centerin trick in css*/
	padding: 20px 30px  50px 0px;
}

/*Redbox*/
.container {
	padding: 10px;
	background-color: #BA201A;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}


.container_class {
	width: 1024px;

}

#header {
	color: #F0F569;
	display: flex;
	vertical-align: central;
}

	#header h1, h2 {
		display: block;
	}

	a.hover{
		color:mediumblue;
	}

button {
	background-color: #0A416E;
}

	button:hover,
	button:active {
		background-color: azure;
		color: black;
	}

